<p-toast></p-toast>
<div class="min-h-screen bg-gradient-to-br from-gray-900 to-gray-800 p-4">
    <div class="max-w-7xl mx-auto">
        <!-- Mobile Header -->
        <div class="md:hidden flex justify-between mb-6">
            <div class="flex gap-3">
                <button (click)="mobileMenuOpen.set(!mobileMenuOpen())"
                    class="p-2 rounded-full hover:bg-gray-700 text-gray-400 hover:text-white">
                    <i class="pi {{ mobileMenuOpen() ? 'pi-times' : 'pi-bars' }}"></i>
                </button>
                <img class="w-8 h-8" src="/faviconCCD.ico" alt="Logo" />
            </div>
            <button (click)="navigateToCreateTicket()"
                class="flex gap-2 bg-blue-600 hover:bg-blue-700 text-white text-sm py-2 px-3 rounded-lg">
                <i class="pi pi-plus"></i> Nuevo
            </button>
        </div>

        <!-- Header Section -->
        <div class="flex flex-col md:flex-row justify-between mb-6 gap-4"
            [ngClass]="{'block': mobileMenuOpen(), 'hidden': !mobileMenuOpen(), 'md:flex': true}">
            <div class="flex gap-4">
                <img class="w-12 h-12 hidden md:block" src="/faviconCCD.ico" alt="Logo" />
                <div>
                    <h1 class="text-2xl font-bold text-white">Gestión de Tickets</h1>
                    <p class="text-sm text-gray-400">Administrador: {{ user()?.role }}</p>
                </div>
            </div>

            <div class="flex gap-6">
                <button routerLink="/panel-admin/tickets" routerLinkActive="after:bg-blue-600 after:w-full" class="flex items-center relative gap-2 text-white rounded-lg after:bg-blue-600 after:content-[''] after:w-0 after:h-1 after:absolute after:bottom-2 after:left-0 after:transition-all after:duration-300 after:ease-in-out after:hover:w-full">Tickets</button>
                <button routerLink="/panel-admin/users" routerLinkActive="after:bg-blue-600 after:w-full" class="flex items-center relative gap-2 text-white rounded-lg after:bg-blue-600 after:content-[''] after:w-0 after:h-1 after:absolute after:bottom-2 after:left-0 after:transition-all after:duration-300 after:ease-in-out after:hover:w-full">Usuarios</button>
                <button routerLink="/panel-admin/workers" routerLinkActive="after:bg-blue-600 after:w-full" class="flex items-center relative gap-2 text-white rounded-lg after:bg-blue-600 after:content-[''] after:w-0 after:h-1 after:absolute after:bottom-2 after:left-0 after:transition-all after:duration-300 after:ease-in-out after:hover:w-full">Trabajadores</button>
            </div>

            <div class="flex flex-col sm:flex-row gap-3">
                <button (click)="logout()"
                    class="flex items-center gap-2 border border-gray-500 hover:border-gray-400 text-white py-2 px-6 rounded-lg">
                    <i class="pi pi-sign-out"></i> Cerrar Sesión
                </button>
            </div>
        </div>

        <router-outlet></router-outlet>

    </div>
</div>