.image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.image-preview-item {
    position: relative;
}

.image-preview-item p-tag {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
}

.p-fileupload-choose-button {
    background-color: #023c41;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}